html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.block-done {
  text-shadow: 5px 5px #558ABB;
}

.block {
  border: 3px solid black;
  display: flex;
  flex-flow: column nowrap;
  height: 64px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.list-container {
  position: relative;
  margin-top: 32px;
  display: flex;
  flex-flow: row nowrap;
}

.highlighter {
  box-sizing: border-box;
  position: absolute;
  width: 192px;
  height: 64px;
  top: 68px;
  left: 0;
  border: 5px solid black;
}

.cashout-button {
  font-size: 32px;
  position: relative;
  bottom: 40px;
  left: 40px;
}